﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Cambio_aceite.aspx.cs" Inherits="Cambio_aceite" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="wrap">
     <div class="header_bottom">
			   <div class="slider-text">
			   	<h2>Cambio de aceite</h2>
			   	<p>Contamos con una plataforma adecuada para realizar el cambio de aceite, cambio de filtros y engrasamiento para sus vehiculos. </p>
	  	      </div>
         </div>
	  	      <div class="slider-img">
	  	      	<img src="images/34.jpg" alt="" />
	  	      </div>
	  	     <div class="clear"></div>
	      </div>
   		</div>
   </div>
</asp:Content>

