﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="contactanos.aspx.cs" Inherits="contactanos" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


 <div class="main">
 	<div class="wrap">
     <div class="preview-page">
     				<div class="contact_info">
					    	  <div class="map">
							   	   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d997.0558183978587!2d-75.6132692!3d1.6201762000000184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1437336754557" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe><br><small><a >View Larger Map</a></small>
							   	   
							  </div>
      				</div>
				  <div class="contact-form">
				  	<h3>Contactanos</h3>
					    <form method="post" action="contact-post.html">
					    	<div>
						    	<input name="userName" type="text" class="textbox textbox1" value="Nombre..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}" >
						    	<input name="userEmail" type="text" class="textbox" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
						    	<input name="usersubject" type="text" class="textbox" value="Tema..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject...';}">
						    	<div class="clear"></div>
						    </div>
						    <div>
						    	<span><textarea name="userMsg" value="Mesagge:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Mesage </textarea></span>
						    </div>
						   <div>
						   		<input type="submit" value="Enviar"  class="mybutton">

						   		<div class="clear"></div>
						  </div>
					    </form>
				  </div>
			  </div>		
         </div> 
    </div>
 </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

        });
	</script>
    <a href="#" id="toTop"> </a>
         <script type="text/javascript" src="js/navigation.js"></script>
  
</asp:Content>
