﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Filtros.aspx.cs" Inherits="Filtros" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="wrap">
    <div class="header_bottom">
			   
        <div class="slider-text">
			   	<h2>Filtros</h2>
			   	<p> Los filtros son piezas de vital importancia para el funcionamiento del auto y su tarea principal consiste en retener contaminantes. Para qué sirven, su importancia y qué tener en cuenta. </p>
	  	      </div>
        </div>
	  	      <div class="slider-img">
	  	      	<img src="images/25.jpg" alt="" />
	  	      </div>
	  	     <div class="clear"></div>
	      </div>
   		</div>
   </div>
    
</asp:Content>

