﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Parqueadero.aspx.cs" Inherits="Parqueadero" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="wrap">
     <div class="header_bottom">
			   <div class="slider-text">
			   	<h2>Parqueadero</h2>
			   	<p>Contamos con el servicio del parqueadero las 24 horas del dia, con un elevado grado de serguridad gracias a nuestras camaras y vigilante que presta este servicio</p>
			   	</div>
	  	      </div>
	  	      <div class="slider-img">
	  	      	<img src="images/23.jpg" alt="" />
	  	      </div>
	  	     <div class="clear"></div>
	      </div>
   		</div>
   </div>
</asp:Content>

