﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Venta del soat.aspx.cs" Inherits="Venta_del_soat" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="wrap">
    
     <div class="header_bottom">
			   
        <div class="slider-text">
			   	<h2>Venta del soat</h2>
			   	<p>Se cuenta con el servicio de venta del Seguro Obligatorio de Accidentes de Tránsito SOAT, cubre a las personas que sean víctimas de accidentes de tránsito según definición aplicable para SOAT y ocurridos dentro del territorio nacional.  </p>
	  	      </div>
         </div>
	  	      <div class="slider-img">
	  	      	<img src="images/20.png" alt="" />
	  	      </div>
	  	     <div class="clear"></div>
	      </div>
   		</div>
   </div>
    
    
</asp:Content>

