﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Ventas de aceite, filtros y grasas.aspx.cs" Inherits="Ventas_de_aceite__filtros_y_grasas" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="wrap">
     <div class="header_bottom">
			   <div class="slider-text">
			   	<h2>Ventas de aceite, filtros y grasas</h2>
			   	<p> La estación de servicio el chorro cuenta con gran canitdad de productos de diferentes marcas ya sean aceites en sus distintas presentaciones (pinta,cuartos galón),filtros y grasas.</p>
			   	</div>
	  	      </div>
	  	      <div class="slider-img">
	  	      	<img src="images/25.jpg" alt="" />
	  	      </div>
	  	     <div class="clear"></div>
	      </div>
   		</div>
   </div>
</asp:Content>

