﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Venta de combustible.aspx.cs" Inherits="Venta_de_combusible" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <div class="wrap">

 <div class="header_bottom">
			   
        <div class="slider-text">
			   	<h2>Venta de combustibles </h2>
			   	
<p> CORRIENTE</p>

<p> EXTRA</p>

<p> A.C.P.M</p>
	  	      </div>
	  	      <div class="slider-img">
	  	      	<img src="images/14.jpg" alt="" />
	  	      </div>
	  	     <div class="clear"></div>
     </div>
	      </div>
   		</div>
   </div>
</asp:Content>